body {
  font-family: "Manjari", sans-serif;
  text-align: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.body-bg {
  animation: slide 3s ease-in-out infinite alternate;
  background: rgb(7, 6, 96);
  background: linear-gradient(-45deg, #845ec2 50%, #4e8397 25%, #d5cabd 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg4 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg5 {
  animation-duration: 4s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.container {
  margin-top: 100px;
  height: 100%;
}

img {
  width: 300px;
}
