body {
  font-family: "Manjari", sans-serif;
  text-align: center;
  background-image: url(pictures/reach.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

iframe {
  position: relative;
}

#go-back-btn {
  margin: 10px;
}

.description {
  margin: 20px;
  font-size: 16px;
}

#icon {
  margin: 2px;
}

#button-group {
  margin: 10px;
  font-size: 16px;
}

#groupesh {
  text-decoration: none;
}

.wrapper {
  text-align: center;
}
